h1{
    color: pink;
    background-color: white;
}

.container{
    text-align: center;
}

img{
    width: 500px;
    height: auto;
}

.sea-text{
    color: white;
    background-color: blue;
    position: sticky;
    top: 100px;
    left: 100px;
    font-size: xx-large;
    display: inline;
}

body{
    background-color: blanchedalmond;
}